<div class="modal text-justify" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">{{'general.actions.delete' | translate }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'messages.delete.warning' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">{{'general.actions.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" ng-click="vm.crud.deleteItemById(vm.crud.item.id); $hide()">{{'general.actions.ok' | translate }}</button>
      </div>
    </div>
  </div>
</div>
