<section class="p-15">
  <div class="row m-b-15 filters">
    <div class="col-md-12 text-center bold">Filters:</div>
    <div class="col-md-4 col-sm-4">
      <input type="text" placeholder="Seach by name" ng-model="vm.filters.search" ng-change="vm.filterHotels()"/>
    </div>
    <div class="col-md-4 col-sm-4">
      <select ng-options="option.name for option in vm.rating track by option.id" ng-change="vm.filterHotels()"
        ng-model="vm.filters.rating"></select>
    </div>
    <div class="checkbox col-md-4 col-sm-4">
      <label>
        <input type="checkbox" ng-model="vm.filters.active" ng-change="vm.filterHotels()">
        <p>
          only active
        </p>
      </label>
    </div>
  </div>

  <table class="table table-full-small m-b-30">
    <thead>
      <tr>
        <th>{{'general.active' | translate}}</td>
        <th>{{'general.name' | translate}}</td>
        <th>{{'general.description' | translate}}</td>
        <th>{{'general.rating' | translate}}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.hotels" ng-click="vm.openItem(item)">
        <td><i ng-if="item.isActive" class="zmdi zmdi-check"></i></td>
        <td class="bold">{{ item.name }}</td>
        <td>
          <div class="description">{{ item.description }}</p>
        </td>
        <td class="text-center">
          <i ng-repeat="i in vm.getNumberRate(item.rating) track by $index" class="zmdi zmdi-star"></i>
        </td>
      </tr>
  </tbody>
  </table>
</section>
